PORT=3000

DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres

WB_API_TOKEN=PUT_TOKEN_HERE

GOOGLE_CLIENT_EMAIL=PUT_EMAIL_HERE
GOOGLE_PRIVATE_KEY=PUT_KEY_HERE

GOOGLE_SHEETS_IDS=PUT_SHEET_ID_HERE